<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post New Listing</title>
</head>
<body>
    <h1>New listing</h1>

    <form action="/createNewListing" method="post">
        <label for="name">Title</label>
        <input type="text" id="name" name="name" placeholder="Looking for a handyman">

        <label for="description">Enter Listing here</label>
        <input type="text" id="description" name="description" placeholder="Your listing...">

        <label for="price">Your budget</label>
        <input type="number" id="price" name="price" placeholder="500">

        <label for="location">Location</label>
        <input type="text" id="location" name="location" placeholder="Copenhagen">
        <input type="submit" value="Post listing">
    </form>
</body>
</html>