<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><span th:text = ${listing.name}></span></title>
</head>
    <body>
        <span th:text ="${listing.name}"></span>
        <span th:text ="${listing.price}"></span>
        <span th:text ="${listing.description}"></span>
        <span th:text ="${listing.uploadTime}"></span>
        <span th:text ="${listing.email}"></span>
        <span th:text ="${listing.location}"></span>
        <form action="#" th:action ="@{'/ll/'+${listing.listingId}}" method="post">
            <input type="submit" value="Remove Listing">
        </form>
        <div>
            <h2>Profile comments</h2>
            <table>
                <thead>
                <tr>
                    <th>User</th>
                    <th>Comment</th>
                    <th>Timestamp</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="comment:${comments}">
                    <td th:text="${comment.email}"></td>
                    <td th:text="${comment.content}"></td>
                    <td th:text="${comment.uploadTime}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>