<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Heloo Worlddddo</h1>

    <!--log in form -->
    <form action="/validating" method="post">
        <label for="email">Email address</label>
        <input type="text" name="email" id="email" placeholder="Email address">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>


    <!--last 5 listing -->
    <table>
        <tr th:each="listing:${listings}">
            <td th:text="${listing.name}"></td>
            <td th:text="${listing.uploadTime}"></td>
            <td th:text="${listing.price}"></td>
            <td th:text="${listing.location}"></td>
            <td>
                <form action="#" th:action="@{'/listing/viewListing/'+${listing.listingId}}" method="post">
                    <input type="submit" value = "View Listing">
                </form>
            </td>
        </tr>
    </table>

    <!--Side bar
    categories listing- change sql
    listing
    users
    about-create own html page
    contact us- create a footer
    -->

</body>
</html>